.App {
  text-align: center;
  font-family:Andale Mono, monospace;
}

.menubtn{
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
  margin-right: 20px;
}

.brandbtn{
  padding-right: 60px;
}

.btn1{
  color: palevioletred;
  font-weight: bolder;
}

.btn2{
  border: 5px solid palevioletred;
  display: inline-block;
  border-radius: 10px;
}

.btn3{
  font-style: italic;
  color: palevioletred;
  font-weight: bolder;
}

.btn4{
  font-weight: bolder;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}

.homeheading{
  font-family: var(Pacaembu,sans-serif);
  color: palevioletred;
  font-weight: 680;
  letter-spacing: -.02em;
  line-height: 1.4;
}

.homecontent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 15px;
}

.homeheading2{
  background-color: palevioletred;
  font-weight: 680;
  letter-spacing: -.02em;
  line-height: 1.4;
}

.subheading{
  font-weight: bolder;
  color: palevioletred;
  height: 150px;
}

.page1{
  background: url(./images/image6.png);
  background-size: cover;
  width: 100%;
  height:100vh;
}

.page2{
  background: url(./images/image7.png);
  background-size: cover;
  width: 100%;
  height:100vh;
}

.page3{
  background: url(./images/image15.png);
  background-size: cover;
  width: 100%;
  height:100vh;
}

.page4{
  background: url(./images/image16.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
}

.signuppage{
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
}

.imagelogin{
  background: url(./images/image12.png);
  background-size:cover;
  height: 69vh;
}

.container1{
  width: 60%;
  height: 70vh;
  padding-right: 12.5px;
  border: 5px solid palevioletred;
  background-color: white;
}

.container2{
  width: 60%;
  height: 70vh;
  padding-right: 12.5px;
  border: 5px solid palevioletred;
  background-color: white;
}

.loginprop{
  display: inline-block;
  width: 60%;
}

.loginheading{
  background: url(./images/image10.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.imagelogin2{
  background: url(./images/image13.png);
  background-size:cover;
  height: 69vh;
}

.loginresp1{
  margin-bottom: 30px;
}

.loginresp{
  margin-bottom: 50px;
  margin-top: 50px;
}

.suggestionlabel{
  font-weight: bolder;
}

.displayans{
  color: palevioletred;
  display: none;
  padding: 7px;
}

.line1{
  border: 3px solid white;
  height: 4px;
}

.validation{
  color: red;
}

.signhead{
  margin-top: 50px;
  margin-bottom: 50px;
}

.signmargin{
  margin-bottom: 20px;
}









/* Media Queries */

@media only screen and (max-width: 1630px) {
  .page2{
    height:110vh;
  }
}

@media only screen and (max-width: 1387px) {
  .signhead{
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .validation{
    font-size:small;
  }
}

@media only screen and (max-width: 1150px) {

  .page2{
    height:120vh;
  }

  .loginpage{
    height:75vh;
  }

  .container1{
    width: 60%;
    height: 60vh;
    padding-right: 12.5px;
  }

  .imagelogin{
    height: 50vh;
  }

  .imagelogin2{
    height: 60vh;
  }

  .column1{
    font-size:small;
  }

  .loginresp{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .signmargin{
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 995px) {
  .page2{
    height:150vh;
  }
}

@media only screen and (max-width: 815px) {

  .page2{
    height:140vh;
  }

  .signhead{
    font-size:larger;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .imagelogin2{
    height: 40vh;
  }

  .validation{
    font-size:xx-small;
  }

  .sugghead{
    font-size:larger;
  }

  .sugghead1{
    font-size: medium;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 770px) {

  .page2{
    height:150vh;
  }

  .loginresp1{
    margin-bottom: 5px;
  }

  .loginresp{
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .container1{
    width: 70%;
    height: 50vh;
    padding-right: 12.5px;
  }

  .imagelogin{
    height: 40vh;
  }

  .column1{
    font-size:x-small;
  }
}

@media only screen and (max-width: 585px) {
  .signhead{
    font-size:small;
  }

  .imagelogin2{
    height: 40vh;
  }

  .validation{
    font-size:50%;
  }

  .label1{
    font-size: small;
  }

  .container2{
    width: 80%;
    height: 60vh;
    padding-right: 12.5px;
  }
}

@media only screen and (max-width: 500px) {

  .page2{
    height:170vh;
  }

  .displayans{
    font-size: medium;
  }

  .container1{
    width: 90%;
    height: 45vh;
    padding-right: 12.5px;
  }

  .imagelogin{
    height: 30vh;
  }

  .column1{
    font-size:xx-small;
  }
}

@media only screen and (max-width: 500px) {
  .signmargin{
    margin-bottom: 5px;
  }

  .imagelogin2{
    height: 30vh;
  }

  .container2{
    width: 90%;
    height: 70vh;
  }
}

@media only screen and (max-width: 500px) {
  .signhead{
    font-size:xx-small;
  }

  .validation{
    font-size:30%;
  }

  .label1{
    font-size: xx-small;
  }

  .imagelogin2{
    height: 20vh;
  }
}

input[type="color"] {
	border: none;
	width: 82px;
	height: 62px;
  display: inline-block;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
